{{ define "main" }}

{{ $thePages :=  where site.RegularPages "Type" "short" }}

<div class="shadow-sm rounded-lg border short">
{{ range $thePages }}
{{ $dateHuman := .Date | time.Format "2006年1月2日" }}
<div class="hover:bg-gray-100 p-5  border-b last:border-none">
    <div class="w-full">
        <h2 class="inline">{{ .Title }}</h2>
        {{ with .Params.from }}
            {{ range . }}
                <div class="inline float-right">
                    发布在
                    <a target="_blank" href="{{ .link }}" style="text-decoration: none;">
                    {{ with resources.GetMatch  (add "/from/" .site ".svg") }}
                        <img src={{ .RelPermalink }} alt="" class="inline h-4 px-1">
                    {{ end }}
                    </a>
                </div>
            {{ end }}
        {{ end }}
        <div class="inline float-right pr-2">{{ $dateHuman }}</div>
    </div>

    <div class="content">
        {{ .Content }}
    </div>
</div>

{{ end }}
</div>

{{ end }}