{{- $contact := dict
    "mail" (slice "icons8-gmail-logo-94" "mailto:venusxk6214@gmail.com")
-}}

    <div class=" m-auto mt-10 mb-4 sm:text-center
    
    {{ if (eq .Layout "photography")}}
    text-white translate-x-4
{{ end }}
    ">
        <div class=" h-fit text-xs">
            <div class="mb-1">
                Copyright © 2024 Jinghe Zhang  All rights reserved.
            </div>
            
            <div>
                <a href="https://beian.miit.gov.cn/" target="_blank" class="text-gray-600 hover:text-gray-600">
                    冀ICP备2024054703号
                </a>
                <a href="/miscellany" class="text-gray-400 rounded-full">private page</a>
            </div>
        
        </div>
    </div>
