
{{- $pages := .pages }}


<div class="grid grid-cols-8 gap-2 sm:grid-cols-1 sm:mx-2">
    {{ range $pages }}

    {{ if and .Title (.Params.private) }}
        
        
            <a href="{{ .RelPermalink }}" >
                <div class="rounded-xl hover:bg-gray-100 border p-3 h-32 w-full shadow-sm hover:shadow-none duration-300 ">
                    <div class="text-xl line-clamp-2 h-14 ">
                        {{ .LinkTitle }}
                    </div>
                    <div class="w-full h-1/6"></div>
                    <div class="h-1/4 text-sm">
                        {{ .Lastmod | time.Format "2006年1月2日" }}
                    </div>
                </div>

            </a>

    {{ end }}
    {{ end }}

</div>



