
{{ $currentPage := . }}

<div class="absolute w-full top-0  z-10  opacity-50 hover:opacity-100 duration-300
{{ if not .IsHome}}
border-b
{{ end }}
">

  <div class="h-12 flex justify-center ">
    {{ with site.Menus.main }}
  
    <nav class="menu self-center flex gap-x-6">
      {{ range . }}
      
  
      <a href="{{ .URL }}"  >
        <div class="flex gap-1 ">
  
          {{ if $currentPage.IsMenuCurrent .Menu . }}
  
            <span class="active font-bold" aria-current="page" href="{{ .URL }}">{{ .Name }}</span>
  
          {{ else }}
              
              <span class="duration-300" href="{{ .URL }}">{{ .Name }}</span>
          
          {{ end }}
  
        </div>
      </a>
  
      {{ end }}
    </nav>
  {{ end }}
  </div>
</div>